<link rel="stylesheet" href="/header/header.css">
<script src="/header/header.js" defer></script>

<header>

    <div class="title-bar">
        <h1 ><a class="site-title" href="/">Weightrack</a></h1>

        {{#if showLogin}} 
        <div class="buttons">
            <button id="new-user-button" class="action-button">New User</button>
            {{!-- <button id="sign-in-button" class="action-button">Sign In</button> --}}
        </div>
        {{/if}}
    </div>

</header>
