
<link rel="stylesheet" href="/user-info-prompt/user-info-prompt.css">
<script src="/user-info-prompt/user-info-prompt.js" defer></script>

<div class="hidden" id="user-info-prompt">
    <div class="user-info-prompt">

        <h2 class="user-info-header">Create an Account</h2>

        <input type="text" name="name-input" id="name-input" class="name-input prompt-input" value="Input Name">
        <input type="number" name="age-input" id="age-input" class="age-input prompt-input" value="0">
        <button id="create-button" class="create-button">Create</button>
    </div>

    <div class="background" id="modal-background"></div>

</div>
