<link rel="stylesheet" href="/index/index.css">

{{> header}}

<div class="description">
    <h1 class="text">A lightweight weight tracking webapp for the modern world<br>Just add your weight day by day and watch your progress<br>Simple. Efficient. Light.</h1>
</div>

<div class="people">
     {{#each people}} {{> user-info this}} {{/each}}
</div>


{{> user-info-prompt-modal}}
